@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header.Jsx css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  /* background-color: #202020; */
  color: white;
}

.logo {
  font-size: 12px;
  font-weight: bold;
}

.search-input {
  width: 250px;
  padding: 8px;
  font-size: 16px;
  color: #181818;
  border: 1px solid red;
}

@media (max-width: 398px) {
  .search-input {
    width: 160px;
    padding: 8px;
    font-size: 16px;
    color: #181818;
  }
}

/* Header.Jsx css */

/* videocard css */

/* @media (max-width: 369px) {
  .hide-on-mobile {
    display: none;
  }
} */

.video.card {
  width: 300px;
  margin: 10px;
}

.thumbnail {
  width: 100%;
  border-radius: 8px;
}

.info {
  margin-top: 8px;
  color: white;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.channel {
  font-size: 14px;
  color: #aaa;
}
/* videocard css */

.video-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 20px;
  /* justify-content: center; */
}
